html
{
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}






body 
{
    
    margin: 0;
    height: auto;
    background-color: #111111 !important;
    --nav-height: 8rem;
    flex-wrap: nowrap;
    font-size: 62.5%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}


.bvideo{


  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  
}
.t{
    z-index: 1;
}

.nav
{
    margin-top: 2em;
    width: 90%;
    position: fixed;
    top: 0;
    box-shadow: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    transition: transform 0.5s;
    justify-content: space-around;
    border-radius: 2rem;
    border: solid black 2px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1rem);
    z-index: 1;
}

.nav__link
{
    color: #ffffff;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
}

.nav--hidden
{
    box-shadow: none;
    transform: translateY(-10em);
}

.nav__link:hover
{
    
    text-decoration: underline;
    color: #9c9292;
    transition: 0.4s;
}
#nav_l
{
    padding-left: 0px;
    display: flex; 
    flex-direction: row;
    padding-bottom: 0.3rem; 
    
}


.content
{
     max-width: 1400px;
    /* min-width: 300px;  */
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1em;
    z-index: 0;
}

.design
{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5rem; 
}

#design1 {
    flex-direction: column-reverse;  
}
#design2 {
    flex-direction: column;
}

#line1
{
    padding-top: 2.5rem;
}
#line2
{
    padding-top: 2.5rem;
}

.mywork img
{
    height: 26rem;
    border-radius: 10%;
}

.mywork{
    height: 26rem;
}

.carousel-inner
{
    border-radius: 10%;
}

.preloader
{
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header
{
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}

.logo
{
    position: relative;
    display: inline-block;
    /* font-size: 4rem; */
    bottom: -20px;
    opacity: 0;
}

.logo.active 
{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade
{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}


.design img
{
    width: 14rem;
    height: 14rem;
    padding: 0rem;
    border-radius: 5%;
    margin-top: 2rem;
}

.typewrite
{
    color: #FC6D6D;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
}

#intro h1
{
    font-family: 'Itim', cursive;
    font-size: 3rem;
    color: #ffffff;
}

#intro h2{
    font-family: 'Itim', cursive;
    font-size: 5rem;
    color: #ffffff;
}

#about h1
{
   font-family: 'Pacifico', cursive;;
}


@media(min-width: 781px)
{
    .nav{
        width: 50%;;
    }

    #nav_l{
        flex-direction: row;
        padding-bottom: 0;
    }

    .logo-header{
        left: 50%;
    }
    .content
    {
        min-width: 750px;
    }
    #design1 {
        flex-direction: row;  
    }
    #design2 {
        flex-direction: row;
    }
    .mywork img{
        height: 48rem;
    }
    .mywork{
        height: 48rem;
    }

    .end img{
        min-height: 40rem;
    }

    .logo-header
    {
        left: 50%;
        top: 50%;
    }

    .design img
    {
        height: 20rem;
        width: 30rem;
    }
    .content
    {
     max-width: 1400px;
    /* min-width: 300px;  */
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 1em;
    z-index: 0;
    }
    .typewrite
    {
    font-size: 3rem;
    font-weight: 500;
    text-decoration: none;
    }
    #intro h1
    {
    font-size: 5rem;
    }


}

@media(max-width: 279px)
{
    .typewrite
    {
    font-size: 3rem;
    font-weight: 500;
    text-decoration: none;
    }
    #intro h1
    {
    font-size: 5rem;
    }
}



/*intro starts here*/


#intro
{
    height: 100vh;
    box-shadow: none;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0;
    padding-top: 0;
}




.ekant
{
    padding: 0.3rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.head--hidden
{
    transform: translateY(-100px);
    box-shadow: none;
}



#firstimage
{
    height: 18rem;
    width: 18rem;
    padding: 1rem;
    border-radius: 16rem;
}

#hi
{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#what .ekant
{
    height: 12rem;
    width: 12rem;
}

.work
{
    height: 6rem;
    width: 6rem;
    border-radius: 6rem;
    margin-top: 2.7rem;
}



.image{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2rem;
}

.design p
{
    margin-top: 1.5rem;
}

.text
{
    align-content: center;
    align-items: center;
    color: #ffffff;
}

.btn{
    width: 80%;
    height: 3rem;
}

.foot
{
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.link
{
    color: #ffffff;
    text-decoration: none;
    margin: 0 0em;
    font-size: 2rem;
    word-spacing: 5rem;
    padding: 0px;
}
.link a
{
    text-decoration: none;
    color:#ffffff;;
    
}
.link a:hover
{
    transform: 1.1;
    text-decoration: underline;
    color: #9c9292;
}

.end
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

p
{
    font-size: 2rem;
    font-family: 'Itim', cursive;
    color: #ffffff;
}



h1
{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;

}
h2
{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.line
{
    color: #9c9292;
}

.goodbye
{
    font-size: 1.2rem;
    color: #ffffff;
}

#about{
    margin-top: 0rem;
    margin-bottom: 7rem;
}
#w{
    margin-bottom: 5rem;
}
.end img{
    height: 12rem;
    border-radius: 13%;
    padding: 3rem;
}
.workimage a:hover{
    
    filter: blur(1px);
    transition: ease-in-out 0.5s;
}


